[submodule "submodules/CleanUNet"]
	path = submodules/CleanUNet
	url = https://github.com/alejandrodl/CleanUNet.git
[submodule "submodules/denoiser"]
	path = submodules/denoiser
	url = https://github.com/alejandrodl/denoiser.git
[submodule "submodules/FullSubNet"]
	path = submodules/FullSubNet
	url = https://github.com/alejandrodl/FullSubNet.git
